@{
    ViewData["Title"] = "Delete Movie";
}
@model Movie

<h2>Confirm Deletion</h2>
<h3>Are you sure that you want to delete the records for @Model.Title?</h3>
@*confirm if the user wants to delete the movie or not*@
<form method="post" asp-controller="Home" asp-action="Delete">
    <button type="submit">Delete</button>
    <a asp-controller="Home" asp-action="MovieList" class="btn btn-primary">Cancel</a>
    <input type="hidden" asp-for="MovieId" />
</form>
