@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

<div class="text-center">
    <h1 class="display-4">The Joel Hilton Film Collection</h1>
    @*Website purpose*@
    <p>Add movies to the Database or view the latest episodes of the Baconsale Podcast</p>
    @*Picture of Joel Hilton*@
    <img src="~/img/joelHilton.jpg" height="400" />
</div>
